// Variables
// --------------------------------------------------

//Colors
// --------------------------------------------------
$brand-primary: #0BA5EA;
$brand-default: #000;
$input-border: #ccc;
$light-blue: #EBF5FF;

//Sizes
// --------------------------------------------------
$propertiesImgSize: 100px;
$propertyImgSize: 200px;


body {
  font-family: Verdana, sans-serif;
}

p {
  margin: 0 0 5px 0;
}
h2 {
  margin-top: 0px;
  color: $brand-primary;
}

h4 {
  margin: 5px auto;
}

img.thumb {
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: $brand-primary;
  background-image: none !important;
}

a:hover {
  background-color: darken($brand-primary, 25%);
}

a:active {
  background-color: darken($brand-primary, 25%);
}

a:visited {
  background-image: none;
}

a:target {
  color: red;
}

.clearFloat {
  clear: both;
}

.page {
  margin: 0 auto; 
  margin-top: 50px;
  margin-bottom: 80px;

  @include respond-to(handhelds) { 
    margin-top: 130px;
  }
  @include respond-to(medium-screens) { 
    width: 85%;
    padding: 50px;
  }
  @include respond-to(wide-screens) { 
    width: 80%;
    padding: 50px;
  }
}

*:focus {
  outline: none;
  background-image:  linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 93%, rgba(177,203,230,1) 100%);
  border-bottom: 1px solid $brand-primary;
}


