
// AutoSuggest
// --------------------------------------------------
.autoSuggest {

  img {
    width: 20px;
    float: left;
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid $input-border;
  }
}

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 90%;
  text-align: left;
  float: left;
}
.geosuggest__input {
  width: 100%;
  border-bottom: 1px solid $input-border;
  padding: .5em 1em;
}
.geosuggest__input:focus {
  // border-bottom: 1px solid $brand-primary;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -10px;
  background: #fff;
  border: 1px solid $input-border;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: $light-blue;
}
.geosuggest__item--active {
  background: $light-blue;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}