//Landing Page
// --------------------------------------------------
.landing {
  .nav, .rightButtons {
    display: none;
  }
}

.formContent {
  padding: 15px;
  background-color: #fff;
  @include respond-to(handhelds) { 
    margin-top: -40px;
  }
  .Select {
    width: 130px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    .Select-clear {
      display: none;
    }
  }

  input {
    width: 100%;
    height: 36px;
    border: none;
    border-bottom: 1px solid $input-border;
    padding: 8px 5px;
    margin-bottom: 10px;

    :focus {
      outline: none !important;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid red;
    }

    &.commuteInput {
      width: 80px;
      text-align: center;
      display: inline-block;
    }

    &[type='submit'] {
      margin: 0 auto;
      margin-top: 10px;
      width: 100%;
      background-color: transparent;
      border: 1px solid $brand-primary;
      border-radius: 5px;
      color: $brand-primary;
    }
    &[type='submit']:hover {
      color: darken($brand-primary, 15%);
      background-color: lighten($input-border, 10%);
    }

  }

  .submit {
    @include respond-to(handhelds) { 
      width: 100%;
      position: fixed;
      bottom: 0px;
      padding-bottom: 10px;
      z-index: 99;
      text-align: center;
      background-color: #fff;
      margin-left: -15px;
      border-top: 1px solid $brand-primary;

      input[type='submit'] {
        width: 50% !important;
      }
    }
  }

  .submit:hover {
    color: darken($brand-primary, 5%);
  }

}

