//Map 
// --------------------------------------------------
.mapDiv {
  height: 400px;
  margin-top: 30px;

  .mapContainer {
    height: 400px;
  }

  .mapElement {
    height: 400px;
  }
}

