// RespondTo Media Queries
// --------------------------------------------------
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 420px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: 421px) and (max-width: 1024px) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: 1024px) { @content; }
  }
}


// Stretch Mixins (Easy position:absolute;)
// --------------------------------------------------
@mixin stretch($offset-top:0, $offset-right:0, $offset-bottom:0, $offset-left:0) {
  position: absolute;
  @if $offset-top { top: $offset-top; }
  @if $offset-bottom { bottom: $offset-bottom; }
  @if $offset-left { left: $offset-left; }
  @if $offset-right { right: $offset-right; }
}

@mixin stretch-y($offset-top:0, $offset-bottom:0) {
  @include stretch($offset-top, false, $offset-bottom, false);
}

@mixin stretch-x($offset-left:0, $offset-right:0) {
  @include stretch(false, $offset-right, false, $offset-left);
}