
//Navigation
// --------------------------------------------------
.Menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 75px;
  background-color: #fff;
  border-radius: 2px;
  border-bottom: 2px solid $brand-primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .menuLogo {
    color: $brand-primary;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    .beta {
      color: $brand-primary;
      margin-left: 155px;
      font-size: 13px;
    }
  }


  .rightButtons{
    margin-right: 20px;
    
    @include respond-to(handhelds) { 
      display: none;
    }
    .navButton {
      border: none;
      background: #fff;
      color: $brand-primary;
      box-shadow: none;
      border-radius: 4px;
      padding: 3px 8px 3px 3px;
      margin: 0 10px;

      img {
        margin-right: 3px;
        width: 15px;
        position: relative;
        top: 50%;
        transform: translateY(5%);
      }
    }
    .navButton:hover {
      color: darken($brand-primary, 10%);
    }

    .navButton:active {
      color: darken($brand-primary, 10%);
    }
  }
}

.nav {
  position: fixed;
  top: 70px;
  z-index: 99;
  background-color: #fff;
  border-bottom: 1px solid $input-border;
  border-top: .5px solid $brand-primary;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 1px 5px -2px rgba(100,100,100,0.75);
  @include respond-to(medium-screens) { 
    display: none;
  }
  @include respond-to(wide-screens) { 
    display: none;
  }

  .navButton {
    border: none;
    background: #fff;
    color: $brand-primary;
    box-shadow: none;
    border-radius: 4px;
    padding: 3px 8px 3px 3px;

    img {
      margin-right: 3px;
      width: 15px;
      position: relative;
      top: 50%;
      transform: translateY(5%);
    }

    &.filter {
      position: relative;
      float: right;
    }
  }
}