// Property
// --------------------------------------------------
.property {
  .address {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }

  @include respond-to(handhelds) { 
    font-size: 15px;
  }

  .imgContainer {
    text-align: right;
    height: 300px;
    position: relative;
    @include respond-to(handhelds) { 
      width: 100%;
    }
    @include respond-to(medium-screens) { 
      width: 100%;
    }
    @include respond-to(wide-screens) { 
      width: 60%;
      margin: 0 auto;
      height: 400px;
    }

    .scoreContainer {
      width: 50px;
      position: absolute;
      top: 20px;
      right: 20px;
      .smartScore {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 6px;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        background-color: $brand-primary;
        font-weight: bold;
      }
    }
    .image {
      width: 100%;
      height: 280px;
      min-width: 80px;
      min-height: 50px;
      background-position: center;
      @include respond-to(wide-screens) { 
        height: 380px;
      }
    }
  }

  .infoContainer {
    padding: 0 15px;
    display: flex;
    align-items: flex-start;
    .left {
      width: 30%;
      @include respond-to(handhelds) { 
        width: 45%;
      }
    }
    .right {
      width: 68%;
      margin-left: 15px;
      @include respond-to(handhelds) { 
        width: 55%;
      }
    }

    @include respond-to(wide-screens) { 
      width: 60%;
      margin: 0 auto;
    }
  }

  .assetPair {
    display: flex;
    flex: 1;
    align-items: center;
    .iconContainer {
      min-width: 30px;
      img {
        max-width: 20px;
      }
    }
    .nameContainer {
      margin-left: 10px;
      .distance{
        color: $brand-primary;
      }
    }
  }

  .description, .links {
    padding: 15px;
    @include respond-to(wide-screens) { 
      width: 60%;
      margin: 0 auto;
    }
  }

  .agent {
    text-align: left;
    margin-top: 40px;
    width: 50%;
    display: inline-block;
    @include respond-to(wide-screens) { 
      width: 60%;
      margin: 0 auto;
      margin-top: 25px;
    }

    .mobile {
      color: #fff;
      background-color: $brand-primary;
      border-radius: 25px;
      padding: 10px;
      @include respond-to(medium-screens) {
        display: none;
      }
      @include respond-to(wide-screens) {
        display: none;
      }
    }
    .nonMobile {
      @include respond-to(handhelds) {
        display: none;
        color: #000;
        background-color: transparent;
        padding: 10px;
      }
    }
  }

  .propertyLink {
    width: 50%;
    display: inline-block;
    text-align: right;
    background-color: transparent;
    @include respond-to(wide-screens) {
      width: 40%;
    }

    a {
      border: transparent;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      @include respond-to(handhelds) {
        color: #fff;
        background-color: $brand-primary !important;
        border-radius: 25px;
      }
    }
    
    a:hover {
      background-color: transparent;
      color: darken($brand-primary, 10%);
    }

    a:active, a:visited {
      color: darken($brand-primary, 5%);
      @include respond-to(handhelds) {
        background-color: $brand-primary;
        color: #fff;
      }
    }

  }

}
