
// Properties
// --------------------------------------------------
.propertiesList {
  @include respond-to(handhelds) { 
    padding: 10px;
  }
}

.properties {
  .nav, .rightButtons {
    .back {
      display: none;
    }
  }
}

.content-block {
  border-bottom: 1px solid $input-border;
  width: 100%;
  margin-bottom: 15px;
  .innerContainer{
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    .rank{
      margin-right: 10px;
      min-width: 22px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: $brand-primary;
    }
    .imgContainer{
      width: 40%;

      @include respond-to(handhelds) {
        .image {
          width: 100%;
          height: 100%;
          min-width: 80px;
          min-height: 50px;
          background-position: center;
        } 
      }  
      @include respond-to(medium-screens) {
        min-width: 120px;
        min-height: 120px;
      }
      @include respond-to(wide-screens) { 
        min-height: 255px;
      }
      .image {
        width: 100%;
        height: 100%;
        min-width: 80px;
        min-height: 50px;
        background-position: center;
        @include respond-to(medium-screens) {
          min-width: 120px;
          min-height: 120px;
        }
        @include respond-to(wide-screens) { 
          min-height: 255px;
        }
      }
    }
    .descContainer {
      margin-left: 10px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      align-items: center;
      .left {
        width: 60%;
        @include respond-to(medium-screens) {
          margin-left: 15px;
        }
        @include respond-to(wide-screens) {
          margin-left: 30px;
          width: 50%;
          margin-right: 60px;
        }
        .addressContainer{
          height: 2.4em;
          overflow: hidden;
          font-size: 12px;
          .address{
            line-height: 1.2em;
          }
          @include respond-to(medium-screens) {
            font-size: 20px;
          }
          @include respond-to(wide-screens) {
            font-size: 24px;
          }
        }
        .price {
          @include respond-to(medium-screens) {
            margin-top: 20%;
            font-size: 18px;
          }
          @include respond-to(wide-screens) {
            margin-top: 20%;
            font-size: 22px;
          }
        }
      }
      .scoreContainer {
        margin-left: auto;
        .scoreCircle {
          border-radius: 100%;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          @include respond-to(medium-screens) {
            width: 50px;
            height: 50px; 
          }
          @include respond-to(wide-screens) {
            width: 80px;
            height: 80px; 
          }
        }
        .score {
          color: #fff;
          font-weight: bold;
          text-align: center;
          @include respond-to(medium-screens) {
            font-size: 16px; 
          }
          @include respond-to(wide-screens) {
            font-size: 26px;
          }
        }
      }
      .amenities{
        margin: 0 5px;
        img{
          width: 15px;
          display: block;
          padding-bottom: 5px;
          @include respond-to(medium-screens) { 
            width: 22px;
            padding-bottom: 10px;
          }
          @include respond-to(wide-screens) { 
            width: 26px;
            padding-bottom: 12px;
          }
        }
      }
    }
  }
}